---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <body>
      <a href="/">トップページ</a>
      <a href="/about/">このサイトについて</a>
      <h1>About</h1>
      <p>絶望ドメインは、絶望のドメインです。</p>
      <img src="/public/ekusiadadus.png" alt="絶望ドメインのロゴ" />
    </body>
  </main>
</Layout>
